[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
django-polaris = {editable = true, ref = "custodial-support", git = "https://github.com/stellar/django-polaris.git"}
requests = "<3,>=2.0"

[requires]
python_version = "3.7"
